<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<b>Consensus Results</b>
{% for res in shared_results%}
    <pre>{{res}}</pre>
{% endfor %}
{% for ans in  answer_list %}
    {{ ans.child.actor.agent }}
    <br>
    <pre>{{ ans.qg }}</pre>
    <button onclick="showHide(window['{{ ans.child.actor.agent }}'])">{{ ans.child.actor.agent }} results</button>
    <div id={{ ans.child.actor.agent }} style="display :none;">
        <pre>{{ ans.results }}</pre>
        <br><br>
        Knowledge Graph:
        <pre>{{ ans.kg }}</pre>
    </div>
    <br><br><br>

{% endfor %}
</body>
</html>
<script>
    function showHide(id) {
        var x = id;
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>
