# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# all of these users will be requested for
# review when someone opens a pull request.
* @MarkDWilliams
* @ShervinAbd92
* @sstemann 
# In this example, they own any files in the specified
# directory at the root of the repository and any of its
# subdirectories.

