requests
django>=3.1
django-cors-headers>=3.7
python-Levenshtein-wheels
celery==4.4.7
django-celery-results
django-markdownify >= 0.8.0
attrs >= 20.3.0
-e git://github.com/NCATSTranslator/reasoner-validator@master#egg=reasoner-validator

channels==3.0.3
pymysql==1.0.2
